<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <link rel="stylesheet" th:href="@{form-stylesheet.css}" />
    </head>
    <body>
        <div class="container">
            <h1>Javagram</h1>
            <form method="post" th:object="${user}" th:action="@{/submitItem}">
                <p style="color: red" th:errors="*{firstName}"></p>
                <input type="text" placeholder="First Name" th:field="*{firstName}" />
                <input type="text" placeholder="Last Name" th:field="*{lastName}" />
                <p style="color: red" th:errors="*{username}"></p>
                <input type="text" placeholder="Username" th:field="*{username}" />
                <p style="color: red" th:errors="*{email}"></p>
                <input type="text" placeholder="Email" th:field="*{email}" />
                <p style="color: red" th:errors="*{dateOfBirth}"></p>
                <p style="font-weight: bold">Date of Birth:</p>
                <input type="date" th:field="*{dateOfBirth}" />
                <br />
                <br />
                <input type="submit" value="submit" />
            </form>
        </div>
    </body>
</html>
