<!DOCTYPE html>
<html>
    <head>
        <title>Name</title>
    </head>
    <body>
        <h1 th:text="${name}"></h1>
        <br />
        <ul>
            <li th:text="${#strings.substring(name, 0, 1)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 2)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 3)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 4)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 5)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 6)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 7)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 8)}" style="font-weight: bold"></li>
            <li th:text="${#strings.substring(name, 0, 9)}" style="font-weight: bold"></li>
        </ul>
    </body>
</html>
