<!DOCTYPE html>
<html>
    <head>
        <title>Table</title>
    </head>
    <body>
        <h2>Staff List</h2>

        <table border="solid" width="100%">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.name}">data</td>
                <td th:text="${employee.age}">data</td>
                <td th:text="${employee.role}">data</td>
            </tr>
        </table>
    </body>
</html>
